body {
  margin: 0;
  padding: 0;
  min-width: 320px;

  font-family: "Arial", sans-serif;
}

@media (min-width: 768px) {
  body {
    min-width: 768px;
  }
}

@media (min-width: 1300px) {
  body {
    min-width: 1300px;
  }
}

.visually-hidden {
  position: absolute;

  overflow: hidden;
  clip: rect(0 0 0 0);

  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;

  white-space: nowrap;

  border: 0;

  clip-path: inset(100%);
}

.page-header {
  box-sizing: border-box;
  padding: 30px 0;
  min-height: 100px;

  background-color: #ededed;
}

@media (min-width: 768px) {
  .page-header__wrapper {
    display: flex;
    justify-content: space-between;
    
    box-sizing: border-box;
    margin: 0 auto;
    padding: 0 40px;
    max-width: 768px;
  }
}

@media (min-width: 1300px) {
  .page-header__wrapper {
    max-width: 1300px;
  }
}

.page-header__name {
  display: none;
}

@media (min-width: 768px) {
  .page-header__name {
    display: inline-block;

    margin: 0;

    font-size: 28px;
    line-height: 36px;
    color: #444444;
  }
}

.social {
  display: flex;
  justify-content: space-between;
  
  box-sizing: border-box;
  margin: 0 auto;
  padding: 0 60px;
  width: 100%;
  max-width: 320px;

  list-style: none;
}

@media (min-width: 768px) {
  .social {
    margin: 0;
    padding: 0;
    width: 200px;
  }
}

.social__button {
  display: block;

  width: 40px;
  height: 40px;

  background-repeat: no-repeat;
  outline: none;

  transition: 0.15s;
}

.social__button--email {
  background-image: url(../svg/icon-mail.svg);
}

.social__button--telegram {
  background-image: url(../svg/icon-telegram.svg);
}

.social__button--github {
  background-image: url(../svg/icon-github.svg);
}

.social__button:hover,
.social__button:focus {
  opacity: 0.6; 
}

.social__button:active {
  opacity: 0.3;
}

.works {
  box-sizing: border-box;
  margin: 0 auto;
  padding: 20px;
  width: 100%;
  max-width: 320px;

  list-style: none;
}

@media (min-width: 768px) {
  .works {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    
    padding: 40px;
    max-width: 768px;
  }
}

@media (min-width: 1300px) {
  .works {
    justify-content: flex-start;

    max-width: 1300px;
  }
}

.works__item {
  margin-bottom: 20px;

  box-shadow: 0 0 1px 1px #cccccc;
}

@media (min-width: 768px) {
  .works__item {
    margin-bottom: 30px;
  }
}

@media (min-width: 1300px) {
  .works__item {
    margin-right: 33px;
    margin-bottom: 33px;
  }

  .works__item:nth-child(4n + 4) {
    margin-right: 0;
  }
}

.works__link {
  position: relative;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
  width: 280px;
  height: 200px;

  background-color: #888888;
  outline: none;

  text-decoration: none;
}

.works__link::after {
  content: "";

  position: absolute;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;

  background-color: #000000;
  opacity: 0;
}

@media (min-width: 768px) and (max-width: 1299px) {
  .works__link {
    width: 320px;
    height: 240px;
  }
}

.works__link:hover::after,
.works__link:focus::after {
  opacity: 0.6;

  transition: 0.5s;
}

.works__title {
  z-index: 1;

  font-size: 24px;
  line-height: 28px; 
  color: #ffffff;

  opacity: 0;

  text-shadow: 0 0 5px #444444;
}

.works__description {
  z-index: 1;

  font-size: 14px;
  line-height: 18px; 
  color: #ffffff;

  opacity: 0;

  text-shadow: 0 0 5px #444444;
}

.works__link:hover .works__title,
.works__link:focus .works__title {
  opacity: 1;

  transition: 0.2s; 
}

.works__link:hover .works__description,
.works__link:focus .works__description {
  opacity: 1;

  transition: 1s;  
} 

.works__image {
  position: absolute;
  top: 0;
  left: 0;

  display: block;

  width: 280px;
  height: 200px;
}

@media (min-width: 768px) and (max-width: 1299px) {
  .works__image {
    width: 320px;
    height: 240px; 
  }
}
