html {
  height: 100%;
}

body {
  height: 100%;
  min-height: 100%;
  margin: 0;
  padding: 0;

  background-image: linear-gradient(to bottom, #1a3742, #9ea183);
  background-repeat: no-repeat;
  background-attachment: fixed;
}

@media (min-width: 768px) {
  body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 881px;
  }
}

.visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;

  white-space: nowrap;

  border: 0;

  clip: rect(0 0 0 0);
  clip-path: inset(100%);
}

.page-main {
  min-width: 320px;
}

@media (min-width: 768px) {
  .page-main {
    min-width: 768px;
  }
}

@media (min-width: 1300px) {
  .page-main {
    min-width: 1300px;
  }
}

.page-main__wrapper {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  width: 100%;
  max-width: 320px;
  margin: 0 auto;
  padding: 20px;
  padding-top: 0;
}

@media (min-width: 768px) {
  .page-main__wrapper {
    max-width: 768px;
    padding-top: 40px;
    padding-right: 30px;
    padding-left: 30px;
  }
}

@media (min-width: 768px) {
  .page-main__wrapper {
    max-width: 1300px;
    padding-right: 40px;
    padding-left: 40px;
  }
}

.works {
  position: relative;
}

.works::before,
.works::after {
  content: "";
  position: absolute;
  right: 0;
  left: 0;

  height: 1px;
}

.works::before {
  top: 0;
  background-image: linear-gradient(to right, transparent, rgba(255, 255, 255, 0.3) 20%, rgba(255, 255, 255, 0.6) 40%, rgba(255, 255, 255, 0.6) 60%, rgba(255, 255, 255, 0.3) 80%, transparent 100%);
}

.works::after {
  bottom: 0;
  background-image: linear-gradient(to right, transparent, rgba(255, 255, 255, 0.3) 20%, rgba(255, 255, 255, 0.6) 40%, rgba(255, 255, 255, 0.6) 60%, rgba(255, 255, 255, 0.3) 80%, transparent 100%);
}

/* .nojs .works::after {
  background-image: linear-gradient(to right, transparent, rgba(255, 255, 255, 0.3) 20%, rgba(255, 255, 255, 0.6) 537px, transparent 532px, transparent 687px, rgba(255, 255, 255, 0.6) 687px, rgba(255, 255, 255, 0.3) 80%, transparent 100%);
} */

@media (min-width: 768px) {
  .works {
    padding-left: 60px;
  }

  .works__slider-container {
    width: 570px;
    overflow: hidden;
  }

  /* .nojs .works__slider-container {
    overflow: visible;
  } */
}

@media (min-width: 1300px) {
  .works {
    padding-left: 35px;
  }

  .works__slider-container {
    width: 1150px;
  }
}

.works__list {
  position: relative;

  margin: 0;
  padding: 20px 0;

  list-style: none;
}

@media (min-width: 768px) {
  .works__list {
    display: flex;
    padding: 30px 0;

    transition: margin-left 1s;
  }

  .nojs .works__list {
    flex-wrap: wrap;
  }
}

.works__item {
  position: relative;

  display: flex;
  justify-content: center;
  align-items: center;
  width: 280px;
  height: 200px;
  margin-bottom: 10px;
}

.works__item:nth-child(2) {
  margin-bottom: 0;
}

.works__item:last-child {
  margin-bottom: 0;
}

@media (min-width: 768px) {
  .works__item {
    flex-shrink: 0;
    margin-right: 10px;
    margin-bottom: 0;

    transition: opacity 0.4s;
  }

  .nojs .works__item:nth-child(2n + 2) {
    margin-right: 0;
  }
}

@media (min-width: 1300px) {
  .nojs .works__item:nth-child(2n + 2) {
    margin-right: 10px;
  }

  .nojs .works__item:nth-child(4n + 4) {
    margin-right: 0;
  }
}

.works__item--hidden {
  visibility: hidden;
  opacity: 0;

  transition: opacity 0.4s;

  pointer-events: none;
}

.works__image {
  display: block;
  width: 270px;
  height: 190px;

  border-radius: 4px;

  transition: 0.3s;
}

.works__link {
  outline: none;
}

.works__image:hover,
.works__image:focus,
.works__link:focus .works__image {
  width: 280px;
  height: 200px;

  transition: 0.3s;
}

.works__item--temp {
  display: none;
}

@media (min-width: 768px) {
  .works__item--temp {
    display: flex;
  }
}

.works__image--temp {
  background-image: linear-gradient(to right, rgba(255, 255, 255, 0.08), rgba(255, 255, 255, 0.12) 50%, rgba(255, 255, 255, 0.08));
  outline: none;
}

.works__text {
  position: absolute;
  top: 5px;
  left: 5px;

  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  width: 270px;
  height: 190px;
  margin: 0;
  padding: 40px 20px;

  font-size: 18px;
  line-height: 24px;
  font-family: "Verdana", sans-serif;
  text-align: center;
  color: rgba(255, 255, 255, 0.6);

  cursor: default;

  transition: color 0.3s;
}

.works__text:hover,
.works__text:focus,
.works__image--temp:focus .works__text {
  color: rgba(255, 255, 255, 0.8);

  transition: color 0.3s;
}

.works__button {
  display: none;
}

@media (min-width: 768px) {
  .works__button {
    position: absolute;
    top: 90px;

    display: block;
    width: 30px;
    height: 60px;
    padding: 0;

    background-color: transparent;
    border: 0;
    border-radius: 0;
    outline: none;
    cursor: pointer;
    opacity: 0.6;

    transition: 0.2s;
  }

  .works__button:hover,
  .works__button:focus {
    opacity: 1;

    transition: 0.2s;
  }

  .works__button--prev {
    left: 0;
  }

  .works__button--next {
    right: 0;
  }

  .works__button--disabled {
    display: none;
  }

  .works__button::before,
  .works__button::after {
    content: "";

    display: block;
    width: 30px;
    height: 5px;

    background-color: #ffffff;
    border-radius: 2px;
  }

  .works__button--next::before {
    transform: translateY(-7px) rotate(45deg);
  }

  .works__button--next::after {
    transform: translateY(7px) rotate(-45deg);
  }

  .works__button--prev::before {
    transform: translateY(-7px) rotate(135deg);
  }

  .works__button--prev::after {
    transform: translateY(7px) rotate(-135deg);
  }

  .nojs .works__button {
    display: none;
  }
}

@media (min-width: 1300px) {
  .works__button--prev {
    left: -5px;
  }

  .works__button--next {
    right: -5px;
  }
}

@media (max-width: 767px) {
  .social {
    order: -1;
  }
}

.social__list {
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 20px 0;

  list-style: none;
}

@media (min-width: 768px) {
  .social__list {
    padding: 50px 0;
  }
}

.social__item {
  box-sizing: border-box;
  width: 41px;
  height: 41px;
  margin-right: 20px;
}

@media (min-width: 768px) {
  .social__item {
    margin-right: 30px;
  }
}

.social__item:last-child {
  margin-right: 0;
}

.social-link {
  display: block;
  width: 100%;
  height: 100%;

  background-repeat: no-repeat;
  background-size: 40px auto;
  border: 2px solid rgba(255, 255, 255, 0.4);
  border-radius: 4px;
  outline: none;
  opacity: 0.6;

  transition: 0.2s;
}

.social-link--email {
  background-image: url("../img/svg/social-email.svg");
  background-position: 50% 50%;
  background-size: 25px auto;
}

.social-link--telegram {
  background-image: url("../img/svg/social-telegram.svg");
  background-position: 7px 8px;
}

.social-link--github {
  background-image: url("../img/svg/social-github.svg");
  background-position: 8px 8px;
  background-size: 25px auto;
}

.social-link:hover,
.social-link:focus {
  background-color: rgba(255, 255, 255, 0.1);
  border: 2px solid rgba(255, 255, 255, 1);
  opacity: 1;

  transition: 0.2s;
}

.social-link:active {
  opacity: 0.3;
}

/* .works__show-all {
  position: absolute;
  top: 241px;
  left: 537px;

  display: none;
  box-sizing: border-box;
  width: 150px;
  height: 36px;
  padding: 4px;

  font-size: 18px;
  line-height: 24px;
  font-family: "Verdana", sans-serif;
  text-align: center;
  color: rgba(255, 255, 255, 0.8);
  text-decoration: none;

  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.6);
  border-radius: 8px;
  outline: none;

  transition: 0.2s;
}

.works__show-all:hover,
.works__show-all:focus {
  color: rgba(255, 255, 255, 1);

  background-color: rgba(255, 255, 255, 0.15);
  border-top-color: rgba(255, 255, 255, 1);
  border-bottom-color: rgba(255, 255, 255, 1);
  transition: 0.2s;
}

.works__show-all:active {
  transition: 0.2s;
  color: rgba(255, 255, 255, 0.3);
  background-color: none;
  border-color: rgba(255, 255, 255, 0.6);
}

.nojs .works__show-all {
  display: block;
} */
