html {
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  height: 100%;
  min-height: 100%;

  background-image: linear-gradient(to bottom, #1a3742, #9ea183);
  background-repeat: no-repeat;
  background-attachment: fixed;
}

@media (min-width: 768px) {
  body {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.page-main {
  min-width: 320px;
}

@media (min-width: 768px) {
  .page-main {
    min-width: 768px;
  }
}

@media (min-width: 1300px) {
  .page-main {
    min-width: 1300px;
  }
}

.page-main__wrapper {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  width: 100%;
  max-width: 320px;
  margin: 0 auto;
  padding: 20px;
  padding-top: 0;
}

@media (min-width: 768px) {
  .page-main__wrapper {
    max-width: 768px;
    padding-top: 40px;
    padding-right: 30px;
    padding-left: 30px;
  }
}

@media (min-width: 768px) {
  .page-main__wrapper {
    max-width: 1300px;
    padding-right: 40px;
    padding-left: 40px;
  }
}

.works {
  position: relative;

  margin: 0;
  padding: 20px 0;

  list-style: none;
}

@media (min-width: 768px) {
  .works {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-bottom: 0;
  }
}

.works::before,
.works::after {
  content: "";
  position: absolute;
  right: 0;
  left: 0;

  height: 1px;

  background-image: linear-gradient(to right, transparent, rgba(255, 255, 255, 0.3) 20%, rgba(255, 255, 255, 0.6) 40%, rgba(255, 255, 255, 0.6) 60%, rgba(255, 255, 255, 0.3) 80%, transparent 100%);
}

.works::before {
  top: 0;
}

.works::after {
  bottom: 0;
}

.works__item {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 280px;
  height: 200px;
  margin-bottom: 20px;
}

.works__item:last-child {
  margin-bottom: 0;
}

@media (min-width: 768px) {
  .works__item {
    margin-right: 20px;
  }

  .works__item:nth-child(2n + 2) {
    margin-right: 0;
  }

  .works__item:last-child {
    margin-right: 0;
    margin-bottom: 20px;
  }
}

@media (min-width: 1300px) {
  .works__item:nth-child(2n + 2) {
    margin-right: 20px;
  }

  .works__item:nth-child(4n + 4) {
    margin-right: 0;
  }
}

.work__image {
  display: block;
  width: 270px;
  height: 190px;

  border-radius: 4px;

  transition: 0.3s;
}

.work__link {
  outline: none;
}

.work__image:hover,
.work__link:focus .work__image {
  width: 280px;
  height: 200px;

  transition: 0.3s;
}

.social {
  display: flex;
  justify-content: center;
  order: -1;
  margin: 0;
  padding: 20px;

  list-style: none;
}

@media (min-width: 768px) {
  .social {
    order: 0;
  }
}

.social__item {
  box-sizing: border-box;
  width: 41px;
  height: 41px;
  margin-right: 20px;
}

@media (min-width: 768px) {
  .social__item {
    margin-right: 30px;
  }
}

.social__item:last-child {
  margin-right: 0;
}

.social-link {
  display: block;
  width: 100%;
  height: 100%;

  background-repeat: no-repeat;
  background-size: 40px auto;
  border: 2px solid rgba(255, 255, 255, 0.4);
  border-radius: 4px;
  outline: none;
  opacity: 0.6;

  transition: 0.2s;
}

.social-link--email {
  background-image: url("../img/svg/social-email.svg");
  background-position: 50% 50%;
  background-size: 25px auto;
}

.social-link--telegram {
  background-image: url("../img/svg/social-telegram.svg");
  background-position: 7px 8px;
}

.social-link--github {
  background-image: url("../img/svg/social-github.svg");
  background-position: 8px 8px;
  background-size: 25px auto;
}

.social-link:hover,
.social-link:focus {
  background-color: rgba(255, 255, 255, 0.1);
  border: 2px solid rgba(255, 255, 255, 1);
  opacity: 1;

  transition: 0.2s;
}

.social-link:active {
  opacity: 0.3;
}
