@font-face {
  font-family: "Gilroy";
  font-weight: 800;
  font-style: normal;

  src: url("../fonts/gilroyextrabold-webfont.woff2") format("woff2"),
  url("../fonts/gilroyextrabold-webfont.woff") format("woff");
}

@font-face {
  font-family: "Gilroy";
  font-weight: 300;
  font-style: normal;

  src: url("../fonts/gilroylight-webfont.woff2") format("woff2"),
  url("../fonts/gilroylight-webfont.woff") format("woff");
}

@-webkit-keyframes shake {
  0%,
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  10%,
  30%,
  50%,
  70%,
  90% {
    -webkit-transform: translateX(-10px);
            transform: translateX(-10px);
  }
  20%,
  40%,
  60%,
  80% {
    -webkit-transform: translateX(10px);
            transform: translateX(10px);
  }
}
@keyframes shake {
  0%,
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  10%,
  30%,
  50%,
  70%,
  90% {
    -webkit-transform: translateX(-10px);
            transform: translateX(-10px);
  }
  20%,
  40%,
  60%,
  80% {
    -webkit-transform: translateX(10px);
            transform: translateX(10px);
  }
}

@-webkit-keyframes popup {
  from {
    -webkit-transform: translateY(2000px);
            transform: translateY(2000px);
  }
  to {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}
@keyframes popup {
  from {
    -webkit-transform: translateY(2000px);
            transform: translateY(2000px);
  }
  to {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

body {
  min-width: 1200px;
  margin: 0;
  padding: 0;

  font-family: "Open Sans", "Arial", sans-serif;
  font-size: 15px;
  font-weight: 300;
  letter-spacing: 0.01em;

  color: #464646;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.button {
  display: inline-block;

  width: 260px;
  height: 40px;
  padding: 0;

  font-family: "Gilroy", "Arial", sans-serif;
  font-size: 18px;
  font-weight: 800;
  line-height: 40px;
  letter-spacing: 0.2em;

  cursor: pointer;
  text-align: center;
  vertical-align: middle;
  text-transform: uppercase;

  color: #000;
  border: none;
  border-radius: 0;
  outline: none;
  background: linear-gradient(transparent 16px, #f4d361 16px, #f4d361 17px, #f0c52e 17px, #f0c52e 23px, #f4d361 23px, #f4d361 24px, transparent 24px);
}

.button:hover,
.button:focus {
  background: #f0c52e;
}

.button:active {
  color: rgba(0, 0, 0, 0.3);
}

.main-header .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
      flex-direction: column;

  width: 1160px;
  margin-right: auto;
  margin-left: auto;
  padding-top: 21px;
  padding-right: 60px;
  padding-bottom: 55px;
  padding-left: 60px;

  background: linear-gradient(#fff 40px, #f8e49f 40px, #f8e49f 41px, #f7e296 41px);
}

.header-top-block {
  margin-bottom: 13px;
}

.header-middle-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;

  min-height: 49px;
  margin-bottom: 35px;

  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.header-bottom-block > ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.logo-header a:hover,
.logo-footer a:hover {
  opacity: 0.6;
}

.logo-header a:active,
.logo-footer a:active {
  opacity: 0.3;
}

.search {
  position: relative;

  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;

  width: 440px;
}

input[type="search"] {
  width: 100%;
  min-height: 49px;
  margin: 0;
  padding: 0;
  padding-left: 39px;

  font: inherit;
  line-height: 36px;
  letter-spacing: 0.01em;

  border: none;
  border-bottom: 2px solid transparent;
  outline: none;
  background-color: transparent;
}

input[type="search"]:focus {
  width: 100%;

  border-bottom-color: #000;
}

input[type="search"]::-webkit-input-placeholder {
  color: rgba(0, 0, 0, 0.3);
}
input[type="search"]::-moz-placeholder {
  color: rgba(0, 0, 0, 0.3);
}
input[type="search"]:-moz-placeholder {
  color: rgba(0, 0, 0, 0.3);
}
input[type="search"]:-ms-input-placeholder {
  color: rgba(0, 0, 0, 0.3);
}

input[type="search"]:hover::-webkit-input-placeholder,
input[type="search"]:focus::-webkit-input-placeholder {
  color: rgba(0, 0, 0, 0.6);
}
input[type="search"]:hover::-moz-placeholder:hover,
input[type="search"]:focus::-webkit-input-placeholder {
  color: rgba(0, 0, 0, 0.6);
}
input[type="search"]:hover:-moz-placeholder:hover,
input[type="search"]:focus::-webkit-input-placeholder {
  color: rgba(0, 0, 0, 0.6);
}
input[type="search"]:hover:-ms-input-placeholder,
input[type="search"]:focus::-webkit-input-placeholder {
  color: rgba(0, 0, 0, 0.6);
}

.search::before {
  position: absolute;
  top: 18px;
  left: 3px;

  width: 17px;
  height: 17px;

  content: "";

  background: url("../img/nav-search.svg") no-repeat;
}

.search-button {
  display: none;

  height: 49px;

  font: inherit;
  line-height: 36px;
  letter-spacing: 0.01em;

  cursor: pointer;
  text-align: center;

  border: 2px solid #000;
  border-radius: 0;
  outline: none;
  background-color: transparent;

  -webkit-box-flex: 1;
  -ms-flex: 1 0 85px;
      flex: 1 0 85px;
}

input[type="search"]:focus + .search-button {
  display: inline-block;

  vertical-align: middle;
}

.search-button:hover,
.search-button:focus {
  display: inline-block;

  vertical-align: middle;

  color: #fff;
  background-color: #000;
}

.search-button:active {
  color: rgba(255, 255, 255, 0.3);
}

.user-navigation ul,
.site-navigation ul {
  margin: 0;
  padding: 0;

  list-style: none;
}

.user-navigation a,
.site-navigation a {
  color: #000;
}

.user-navigation a:hover,
.user-navigation a:focus,
.site-navigation a:hover,
.site-navigation a:focus {
  color: rgba(0, 0, 0, 0.6);
}

.user-navigation a:active,
.site-navigation a:active {
  color: rgba(0, 0, 0, 0.3);
}

.user-navigation a,
.dropdown-catalog-column a {
  line-height: 36px;
}

.header-user-navigation ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;

  width: 500px;
}

.main-header .sign-out {
  margin-left: 20px;
}

.main-header .comparison {
  margin-left: auto;
}

.main-header .cart {
  margin-left: 41px;
}

.user-navigation-item a {
  position: relative;
}

.main-header .sign-in-link,
.main-header .profile-link {
  padding-left: 26px;
}

.main-header .sign-out-link {
  color: rgba(0, 0, 0, 0.3);
}

.main-header .comparison-link {
  padding-left: 20px;
}

.main-header .cart-link {
  padding-left: 22px;
}

.main-header .sign-in-link::before,
.main-header .profile-link::before {
  position: absolute;
  top: 4px;
  left: 0;

  width: 13px;
  height: 12px;

  content: "";

  background: url("../img/nav-user.svg") no-repeat;
}

.main-header .comparison-link::before {
  position: absolute;
  top: 6px;
  left: 0;

  width: 10px;
  height: 10px;

  content: "";

  background: url("../img/nav-compare.svg") no-repeat;
}

.main-header .cart-link::before {
  position: absolute;
  top: 4px;
  left: 0;

  width: 12px;
  height: 12px;

  content: "";

  background: url("../img/nav-cart.svg") no-repeat;
}

.main-header .sign-in-link:hover::before,
.main-header .comparison-link:hover::before,
.main-header .cart-link:hover::before {
  opacity: 0.6;
}

.main-header .sign-in-link:active::before,
.main-header .comparison-link:active::before,
.main-header .cart-link:active::before {
  opacity: 0.3;
}

.header-site-navigation > ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.site-navigation-item > a {
  font-family: "Gilroy", "Arial", sans-serif;
  font-size: 18px;
  font-weight: 800;
  letter-spacing: 0.2em;

  text-transform: uppercase;
}

.header-site-navigation .site-navigation-item:nth-child(1) {
  position: relative;

  width: 540px;
}

.header-site-navigation .site-navigation-item:nth-child(3) {
  margin-left: 35px;
}

.header-site-navigation .site-navigation-item:nth-child(4) {
  margin-left: auto;
}

.site-navigation .dropdown-catalog {
  position: absolute;
  z-index: 2;
  top: 17px;
  left: -60px;

  display: none;

  width: 1160px;
  padding-top: 23px;
  padding-right: 60px;
  padding-bottom: 34px;
  padding-left: 60px;

  background: linear-gradient(transparent 10px, #f7e296 10px);
}

.site-navigation .dropdown-catalog-column {
  width: 200px;
  padding-right: 40px;
}

.site-navigation .dropdown-catalog-column:first-child {
  width: 240px;
}

.catalog-button:hover ~ .dropdown-catalog,
.catalog-button:focus ~ .dropdown-catalog,
.dropdown-catalog:hover,
.dropdown-catalog:focus {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;

  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.catalog-button {
  position: relative;
}

.catalog-button::after {
  position: absolute;
  top: 1px;
  right: -27px;

  width: 16px;
  height: 16px;

  content: "";

  opacity: 0.3;
  background: url("../img/plus.svg") no-repeat;
}

.main-content .container {
  width: 1160px;
  margin-right: auto;
  margin-left: auto;
}

.promo-slider .container {
  position: relative;

  margin-bottom: 102px;

  background: linear-gradient(#f7e296 110px,  #fff 110px);
}

.promo-slider-controls {
  position: absolute;
  z-index: 1;
  top: 326px;
  right: 83px;

  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.promo-button {
  width: 12px;
  height: 12px;
  margin-left: 21px;
  padding: 0;

  cursor: pointer;

  border: none;
  background-color: transparent;
  background-image: url("../img/promo-radio-off.svg");
  background-repeat: no-repeat;
  background-size: cover;
}

.current-promo {
  background-image: url("../img/promo-radio-on.svg");
}

.promo-slides {
  margin: 0;
  padding: 0;

  list-style: none;
}

.promo-slides-item {
  display: none;
}

.promo-slides-item::after {
  position: absolute;
  top: -12px;
  right: 48px;

  font-family: "Gilroy", "Arial", sans-serif;
  font-size: 179.2px;
  font-weight: 800;
  line-height: 179.2px;

  content: "01";

  color: #fff;
}

.promo-slides-item:nth-child(2)::after {
  content: "02";
}

.promo-slides-item:nth-child(3)::after {
  content: "03";
}

.promo-slide-image {
  position: relative;

  width: 560px;
}

.promo-slides-item img {
  position: absolute;
}

.promo-slides-item:nth-child(1) img {
  left: 90px;
}

.promo-slides-item:nth-child(2) img {
  top: 11px;
  left: 116px;
}

.promo-slides-item:nth-child(3) img {
  top: 64px;
  left: 31px;
}

.promo-slide-description {
  position: relative;

  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
      flex-direction: column;

  width: 560px;
  margin-top: 80px;
}

.promo-slide-description .promo-slogan {
  position: relative;
  z-index: 1;

  margin: 0;
  margin-bottom: 21px;

  font-family: "Gilroy", "Arial", sans-serif;
  font-size: 47px;
  font-weight: 800;

  color: #000;
}

.promo-slide-description .promo-text {
  margin: 0;
  margin-bottom: 43px;
  padding-right: 70px;

  line-height: 30px;
}

.promo-slide-description table {
  border-spacing: 0 11px;

  -webkit-box-ordinal-group: 2;
  -ms-flex-order: 1;
  order: 1;
}

.promo-slide-description th {
  width: 160px;
  padding: 0;

  font-size: 13px;
  font-weight: 300;
  line-height: 20px;
}

.promo-slide-description th:nth-child(2) {
  width: 140px;
}

.promo-slide-description td {
  padding: 0;

  font-family: "Gilroy", "Arial", sans-serif;
  font-size: 36px;
  font-weight: 300;

  color: #000;
}

.promo-slide-description .button {
  width: 220px;
  margin-bottom: 43px;
}

.promo-slide-description::before {
  position: absolute;
  top: -44px;
  left: 0;

  display: block;

  width: 100px;
  height: 7px;

  content: "";

  background-color: #fff;
}

.promo-show {
  position: relative;

  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;

  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.categories .container {
  margin-bottom: 47px;
  padding-right: 0;
  padding-left: 0;
}

.categories-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;

  margin: 0;
  padding: 0;

  list-style: none;

  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.categories-list-item {
  margin-right: 40px;
  margin-bottom: 40px;
}

.categories-list-item:nth-child(6n) {
  margin-right: 0;
}

.categories-list a {
  position: relative;

  display: block;

  width: 160px;

  font-family: "Gilroy", "Arial", sans-serif;
  font-size: 18px;
  font-weight: 800;

  color: #000;
  outline: none;
}

.categories-list a::before {
  display: block;

  width: 160px;
  height: 160px;
  margin-bottom: 35px;

  content: "";

  background-color: rgba(240, 197, 46, 0.5);
}

.categories-list a::after {
  position: absolute;
  top: 0;
  left: 0;

  display: block;

  width: 160px;
  height: 160px;

  content: "";
}

.categories-list-item:nth-child(1) a::after {
  background: url("../img/category-1.svg") 50% no-repeat;
}

.categories-list-item:nth-child(2) a::after {
  background: url("../img/category-2.svg") 50% 90% no-repeat;
}

.categories-list-item:nth-child(3) a::after {
  background: url("../img/category-3.svg") 50% no-repeat;
}

.categories-list-item:nth-child(4) a::after {
  background: url("../img/category-4.svg") 50% no-repeat;
}

.categories-list-item:nth-child(5) a::after {
  background: url("../img/category-5.svg") 50% no-repeat;
}

.categories-list-item:nth-child(6) a::after {
  background: url("../img/category-6.svg") 50% no-repeat;
}

.categories-list a:hover::before,
.categories-list a:focus::before {
  background-color: rgba(240, 197, 46, 1);
}

.categories-list a:active::after {
  opacity: 0.3;
}

.categories-list a:active {
  color: rgba(0, 0, 0, 0.3);
}

.services-slider {
  background: linear-gradient(#fff 100px,  #e5e5e5 100px);
}

.services-slider .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;

  margin-bottom: 94px;
}

.services-slider-controls {
  width: 284px;
  margin-bottom: 68px;
  padding-top: 80px;

  border-right: 7px solid #000;
}

.services-slider-controls button {
  margin-bottom: 25px;
}

.services-slider-controls button:last-child {
  margin-bottom: 70px;
}

.services-slider-controls button {
  width: 160px;
}

.services-slider-controls button:active,
.current-service {
  color: #f7e184;
  background: #000;
  -webkit-box-shadow: 118px 0 0 0 #000;
          box-shadow: 118px 0 0 0 #000;
}

.current-service:hover,
.current-service:focus {
  background: #000;
}

.services-slides {
  margin: 0;
  margin-left: 117px;
  padding: 0;
  padding-top: 71px;

  list-style: none;
}

.services-slides-item {
  position: relative;

  display: none;
}

.services-slides-item h3 {
  margin: 0;
  margin-bottom: 27px;
  padding: 0;

  font-family: "Gilroy", "Arial", sans-serif;
  font-size: 47px;
  font-weight: 800;

  color: #000;
}

.services-slides-item p {
  width: 435px;
  margin: 0;

  line-height: 30px;
}

.delivery-service-slide::after {
  position: absolute;
  top: 14px;
  right: -258px;

  width: 136px;
  height: 164px;

  content: "";

  background: url("../img/services-delivery.svg") no-repeat;
}

.warranty-service-slide::after {
  position: absolute;
  top: -10px;
  right: -278px;

  width: 171px;
  height: 194px;

  content: "";

  background: url("../img/services-warranty.svg") no-repeat;
}

.credit-service-slide::after {
  position: absolute;
  top: -10px;
  right: -255px;

  width: 156px;
  height: 186px;

  content: "";

  background: url("../img/services-credit.svg") no-repeat;
}

.service-show {
  display: block;
}

.companies .container {
  margin-bottom: 93px;
  padding-right: 0;
  padding-left: 0;
}

.list-of-companies {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;

  margin: 0;
  padding: 0;

  list-style: none;

  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.company-link {
  display: block;
  overflow: hidden;

  width: 260px;
  height: 100px;
}

.company-link:hover img,
.company-link:focus img {
  transform: translateY(-100px);
}

.about-us-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;

  margin-bottom: 82px;

  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.about-us,
.contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
      flex-direction: column;

  min-height: 573px;
}

.about-us,
.contacts {
  width: 560px;
}

.about-us .button,
.contacts .button {
  width: 260px;
  margin-top: auto;
}

.about-us h2,
.contacts h2 {
  margin: 0;
  margin-top: 44px;
  margin-bottom: 38px;
  padding: 0;

  font-family: "Gilroy", "Arial", sans-serif;
  font-size: 47px;
  font-weight: 800;

  color: #000;
}

.about-us p,
.contacts p {
  margin: 0;
  padding-right: 50px;

  line-height: 30px;
  letter-spacing: 0;
}

.about-us p {
  padding-right: 85px;
}

.about-us p:nth-of-type(1) {
  margin-bottom: 30px;
}

.about-us p:nth-of-type(2) {
  margin-bottom: 66px;
}

.contacts .map {
  margin-top: 39px;
}

.transport-companies {
  margin: 0;
  padding: 0;
  padding-left: 35px;

  font-family: "Gilroy", "Arial", sans-serif;
  font-size: 16px;
  font-weight: 800;
  line-height: 40px;
  letter-spacing: 0;

  list-style: none;

  color: #000;
}

.transport-companies li {
  position: relative;
}

.transport-companies li::before {
  position: absolute;
  top: 16px;
  left: -34px;

  width: 8px;
  height: 8px;

  content: "";

  border: 2px solid #e5e5e5;
  border-radius: 50%;
}

.about-us::before,
.contacts::before {
  display: block;

  width: 80px;
  height: 7px;

  content: "";

  background: linear-gradient(#121212 1px, #000 1px, #000 79px, #121212 79px);
}

.main-footer {
  min-height: 323px;
  padding-bottom: 50px;

  background-color: #464646;
}

.main-footer .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
      flex-direction: column;

  width: 1160px;
  margin-right: auto;
  margin-left: auto;
}

.footer-top-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;

  margin-bottom: 26px;
  padding-top: 60px;

  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.footer-middle-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;

  margin-bottom: 63px;

  -webkit-box-align: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
}

.footer-bottom-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;

  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.main-footer .logo-footer {
  padding-top: 5px;
  padding-right: 60px;

  -ms-flex-negative: 0;
  flex-shrink: 0;
}

.footer-user-navigation ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;

  width: 370px;

  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
}

.footer-user-navigation li {
  margin-left: 44px;
}

.main-footer .cart {
  margin-left: 41px;
}

.main-footer .sign-in-link {
  padding-left: 25px;
}

.main-footer .comparison-link {
  padding-left: 20px;
}

.main-footer .cart-link {
  padding-left: 21px;
}

.main-footer .sign-in-link::before {
  position: absolute;
  top: 4px;
  left: 0;

  width: 13px;
  height: 12px;

  content: "";

  background: url("../img/nav-user-footer.svg") no-repeat;
}

.main-footer .comparison-link::before {
  position: absolute;
  top: 6px;
  left: 0;

  width: 10px;
  height: 10px;

  content: "";

  background: url("../img/nav-compare-footer.svg") no-repeat;
}

.main-footer .cart-link::before {
  position: absolute;
  top: 4px;
  left: 0;

  width: 12px;
  height: 12px;

  content: "";

  background: url("../img/nav-cart-footer.svg") no-repeat;
}

.main-footer .sign-in-link:hover::before,
.main-footer .comparison-link:hover::before,
.main-footer .cart-link:hover::before {
  opacity: 0.6;
}

.main-footer .sign-in-link:active::before,
.main-footer .comparison-link:active::before,
.main-footer .cart-link:active::before {
  opacity: 0.3;
}

.footer-site-navigation {
  -ms-flex-item-align: start;
      align-self: flex-start;
}

.footer-site-navigation ul {
  display: -webkit-box;
  display: -ms-flexbox;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;

  margin-left: 117px;
  padding-top: 10px;
}

.footer-site-navigation .site-navigation-item {
  margin-right: 34px;
}

.footer-site-navigation .site-navigation-item:nth-child(2) {
  margin-right: 32px;
}

.footer-site-navigation .site-navigation-item:last-child {
  margin-right: 0;
}

.footer-user-navigation a,
.social-button,
.footer-copyright {
  color: rgba(255, 255, 255, 0.7);
}

.footer-site-navigation a {
  color: #fff;
}

.footer-user-navigation a:hover,
.footer-user-navigation a:focus {
  color: #fff;
}

.footer-site-navigation a:hover,
.footer-site-navigation a:focus {
  color: rgba(255, 255, 255, 0.6);
}

.footer-user-navigation a:active,
.footer-site-navigation a:active {
  color: rgba(255, 255, 255, 0.3);
}

.address,
.phone {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;

  width: 250px;
}

.phone {
  margin-left: auto;

  text-align: right;
}

.address p,
.phone p {
  margin: 0;

  line-height: 30px;
  letter-spacing: 0;

  color: #fff;
}

.footer-social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;

  margin: 0;
  margin-left: 429px;
  padding: 0;

  list-style: none;
}

.social-button {
  margin-right: 23px;
}

.social-button img {
  opacity: 0.3;
}

.social-button:hover img,
.social-button:focus img {
  opacity: 0.6;
}

.social-button:active img {
  opacity: 0.1;
}

.footer-copyright {
  margin-left: auto;
}

.footer-copyright:hover img,
.footer-copyright:focus img {
  opacity: 0.6;
}

.footer-copyright:active img {
  opacity: 0.3;
}

.footer-bottom-block::before {
  display: block;

  width: 80px;
  height: 7px;

  content: "";

  background: linear-gradient(#f2bd05 1px, #ffc600 1px, #ffc600 79px, #f2bd05 79px);
}

.modal-map {
  position: fixed;
  z-index: 2;
  top: calc(50% - 280px);
  left: calc(50% - 480px);

  display: none;

  width: 960px;
  height: 559px;

  background-color: #e5e3df;
  -webkit-box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.2);
          box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.2);
}

.google-map {
  position: absolute;
  top: 0;
  left: 0;

  border: none;
}

.modal-feedback {
  position: fixed;
  z-index: 2;
  top: calc(50% - 275px);
  left: calc(50% - 480px);

  display: none;
}

.modal-feedback-container {
  position: relative;

  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;

  width: 960px;
  min-height: 553px;
  margin-right: auto;
  margin-left: auto;
  padding-top: 96px;
  padding-right: 100px;
  padding-bottom: 78px;
  padding-left: 100px;

  background-color: #fff;
  -webkit-box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.2);
          box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.2);
}

.modal-feedback-container::before {
  position: absolute;
  z-index: -1;
  top: 43px;
  left: 0;

  width: 960px;
  height: 430px;

  content: "";

  -webkit-box-shadow: 0 10px 40px 0 rgba(0, 0, 0, 0.75);
          box-shadow: 0 10px 40px 0 rgba(0, 0, 0, 0.75);
}

.modal-feedback-container .feedback {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;

  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.feedback-item {
  margin: 0;
  margin-bottom: 37px;
}

.feedback-item label {
  display: block;

  margin-bottom: 10px;

  font-family: "Gilroy", "Arial", sans-serif;
  font-size: 18px;
  font-weight: 800;
  line-height: 18px;
  letter-spacing: 0;

  color: #000;
}

.feedback-item input,
.feedback-item textarea {
  padding: 14px 20px;

  font-family: "Open Sans", "Arial", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: 0;

  border: none;
  background-color: #f2f2f2;
}

.feedback-item input {
  width: 360px;
  height: 50px;
}

.feedback-item input:hover,
.feedback-item textarea:hover {
  background-color: #eaeaea;
}

.feedback-item input:focus,
.feedback-item textarea:focus {
  outline: 3px solid #f7e296;
  background-color: #fff;
}

.feedback-item input:invalid,
.feedback-item textarea:invalid {
  outline: none;
  background-color: #f6dada;
}

.feedback-item textarea {
  width: 760px;
  height: 156px;

  resize: none;
}

.feedback input::-webkit-input-placeholder,
.feedback textarea::-webkit-input-placeholder {
  color: rgba(0, 0, 0, 0.4);
}
.feedback input::-moz-placeholder,
.feedback textarea::-moz-placeholder {
  color: rgba(0, 0, 0, 0.4);
}
.feedback input:-moz-placeholder,
.feedback textarea:-moz-placeholder {
  color: rgba(0, 0, 0, 0.4);
}
.feedback input:-ms-input-placeholder,
.feedback textarea:-ms-input-placeholder {
  color: rgba(0, 0, 0, 0.4);
}

.feedback input:hover::-webkit-input-placeholder,
.feedback textarea:hover::-webkit-input-placeholder {
  color: rgba(0, 0, 0, 0.6);
}
.feedback input:hover::-moz-placeholder,
.feedback textarea:hover::-webkit-input-placeholder {
  color: rgba(0, 0, 0, 0.6);
}
.feedback input:hover:hover:-moz-placeholder,
.feedback textarea::-webkit-input-placeholder {
  color: rgba(0, 0, 0, 0.6);
}
.feedback input:hover:-ms-input-placeholder,
.feedback textarea:hover::-webkit-input-placeholder {
  color: rgba(0, 0, 0, 0.6);
}

.feedback .button {
  width: 200px;
}

.modal-close {
  position: absolute;
  top: 22px;
  right: 22px;

  width: 55px;
  height: 55px;

  cursor: pointer;

  opacity: 0.5;
  border: none;
  outline: none;
  background: url("../img/modal-close.svg") no-repeat;
}

.modal-close:hover,
.modal-close:focus {
  opacity: 1;
}

.modal-close:active {
  opacity: 0.3;
}

.modal-show,
.overlay-show {
  display: block;
}

.modal-show {
  -webkit-animation-name: popup;
          animation-name: popup;
  -webkit-animation-duration: 0.6s;
          animation-duration: 0.6s;
}

.modal-error {
  -webkit-animation-name: shake;
          animation-name: shake;
  -webkit-animation-duration: 0.6s;
          animation-duration: 0.6s;
}

/*------------------------------catalog.html------------------------------*/

.catalog-content {
  color: #000;
}

.catalog-content .button {
  width: 200px;
}

.catalog-content h1 {
  margin: 0;
  margin-bottom: 14px;
  padding: 0;
  padding-top: 32px;

  font-family: "Gilroy", "Arial", sans-serif;
  font-size: 47px;
  font-weight: 800;
}

.catalog-title-container {
  width: 1160px;
/*  min-height: 176px;*/
  margin: auto;
  padding-right: 60px;
  padding-left: 60px;
}

.breadcrumbs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;

  margin: 0;
  padding: 0;
  margin-bottom: 40px;

  font-size: 14px;

  list-style: none;

  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.breadcrumbs li {
  position: relative;

  margin-right: 36px;
}

.breadcrumbs li,
.breadcrumbs a {
  line-height: 36px;

  color: rgba(0, 0, 0, 0.3);
}

.breadcrumbs a:hover,
.breadcrumbs a:focus {
  color: rgba(0, 0, 0, 0.6);
}

.breadcrumbs a:active {
  color: rgba(0, 0, 0, 0.1);
}

.breadcrumbs-item::after {
  position: absolute;
  top: 16px;
  right: -19px;

  display: block;

  width: 5px;
  height: 5px;

  content: "";
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);

  border: 1px solid #000;
  border-bottom: none;
  border-left: none;
}

.catalog-top-wrapper {
  background: linear-gradient(to right, #dbdbdb 50%, #ebebeb 50%);
}

.catalog-bottom-wrapper {
  background: linear-gradient(to right, #efefef 50%, #fff 50%);
}

.catalog-top-container,
.catalog-bottom-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;

  width: 1160px;
  margin-right: auto;
  margin-left: auto;

  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.catalog {
  background-color: #fff;
}

.sorting,
.catalog {
  width: 832px;
}

.sorting {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;

  min-height: 70px;

  background-color: #ebebeb;

  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.catalog-top-container > h2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;

  min-height: 70px;

  background-color: #dbdbdb;

  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.catalog-top-container > h2,
.sorting h2 {
  margin: 0;
  padding: 0;

  font-family: "Gilroy", "Arial", sans-serif;
  font-size: 16px;
  font-weight: 800;
  letter-spacing: 0.2em;

  text-transform: uppercase;
}

.sorting h2 {
  margin-left: 73px;
}

.sorting-by,
.sorting-order {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;

  margin: 0;
  padding: 0;

  list-style: none;
}

.sorting-by {
  margin-right: auto;
  margin-left: 55px;
}

.sorting-by li {
  margin-right: 30px;
}

.sorting-by li:last-child {
  margin-right: 0;
}

.sorting-by a {
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: 0;

  color: rgba(0, 0, 0, 0.3);
}

.sorting-by a:hover,
.sorting-by a:focus {
  color: rgba(0, 0, 0, 0.6);
}

.sorting-by a:active,
.current-sort a {
  color: rgba(0, 0, 0, 1);
}

.sorting-order a {
  display: block;

  width: 11px;
  height: 10px;
  margin-left: 19px;

  opacity: 0.2;
  outline: none;
  background: url("../img/sorting-arrow.svg") no-repeat;
}

.sorting-order .decreasing-order {
  -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
          transform: rotate(180deg);
}

.sorting-order .currrent-sorting-order,
.sorting-order .increasing-order:active,
.sorting-order .decreasing-order:active {
  opacity: 1;
}

.increasing-order:hover,
.increasing-order:focus,
.decreasing-order:hover,
.decreasing-order:focus {
  opacity: 0.4;
  outline: none;
}

.catalog-top-container > h2,
.filter {
  width: 328px;
  padding-left: 60px;
}

.filter {
  padding-top: 69px;
  padding-right: 68px;

  background-color: #efefef;
}

.filter ul {
  margin: 0;
  padding: 0;
  padding-left: 38px;

  list-style: none;
}

.filter-form {
  border-top: 2px solid #000;;
}

.filter-form fieldset,
.catalog-item h3 {
  margin: 0;
  padding: 0;

  border: 0;
}

.filter-form fieldset {
  border-bottom: 2px solid #000;
}

.filter-form fieldset:last-of-type {
  border-bottom: none;
}

.filter-form legend {
  margin-bottom: 37px;
  padding-top: 12px;

  font-family: "Gilroy", "Arial", sans-serif;
  font-size: 18px;
  font-weight: 800;
}

.filter-form .price-filter {
  padding-bottom: 67px;
}

.price-range label,
.price-range input {
  font-family: "Gilroy", "Arial", sans-serif;
  font-size: 14px;
  font-weight: 300;
  line-height: 22.27px;
  letter-spacing: 0;

  color: rgba(0, 0, 0, 0.2);
}

.price-range input {
  border: 0;
  background-color: transparent;
}

.price-range {
  position: relative;

  height: 2px;

  background: linear-gradient(to right, #91c92f 116px, #dbdbdb 116px);
}

.price-range button {
  position: absolute;
  top: -10px;

  width: 20px;
  height: 22px;

  cursor: pointer;

  border: none;
  outline: none;
  background-color: transparent;
  background-image: url("../img/range-slider.svg");
  background-repeat: no-repeat;
  background-size: cover;
}

.price-range button:active,
.price-range button:focus {
  top: -11px;

  width: 22px;
  height: 24px;
}

.slider-min button {
  left: -6px;
}

.slider-max button {
  left: 107px;
}

.slider-min label,
.slider-max label {
  position: absolute;
  top: 11px;
}

.slider-min label {
  left: 0;
}

.slider-max label {
  left: 90px;
}

.min-value,
.max-value {
  width: 45px;
}

.filter-form .color-filter,
.filter-form .bluetooth-filter {
  padding-bottom: 31px;
}

.color-filter legend,
.bluetooth-filter legend {
  margin-bottom: 20px;
}

.color-filter label,
.bluetooth-filter label {
  position: relative;

  font-size: 14px;
  font-weight: 300;
  line-height: 40px;
}

.color-filter label::before {
  position: absolute;
  top: -2px;
  left: -40px;

  width: 27px;
  height: 23px;

  content: "";

  background: url("../img/checkbox-off.svg") no-repeat;
}

.color-option:checked + label::before,
.color-option:enabled:active + label::before {
  background: url("../img/checkbox-on.svg") no-repeat;
}

.bluetooth-filter label::before {
  position: absolute;
  top: -3px;
  left: -40px;

  width: 25px;
  height: 25px;

  content: "";

  background: url("../img/radio-off.svg") no-repeat;
}

.bluetooth-option:checked + label::before,
.bluetooth-option:enabled:active + label::before {
  background: url("../img/radio-on.svg") no-repeat;
}

.filter-option:hover + label::before,
.filter-option:focus + label::before {
  opacity: 0.6;
}

.filter-option:disabled + label::before {
  opacity: 0.25;
}

.filter-option:disabled + label {
  color: #a6a6a6;
}

.catalog-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;

  margin: 0;
  padding: 0;
  padding-top: 21px;
  padding-left: 72px;

  list-style: none;

  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.catalog-item {
  position: relative;

  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
      flex-direction: column;

  margin-top: 48px;
}

.catalog-item-label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;

  min-height: 45px;
  margin-top: 30px;

  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  -webkit-box-ordinal-group: 2;
  -ms-flex-order: 1;
  order: 1;
}

.catalog-item h3 {
  width: 260px;
  margin: 0;
}

.catalog-item h3 a {
  font-family: "Gilroy", "Arial", sans-serif;
  font-size: 18px;
  font-weight: 800;

  color: #000;
}

.catalog-item-price {
  margin: 0;

  font-size: 16px;
}

.catalog-item-image {
  background-color: #efefef;
}

.catalog-item-actions {
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;

  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
      flex-direction: column;

  width: 360px;
  height: 380px;

  cursor: pointer;

  background-color: transparent;

  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.catalog-item-actions:hover {
  background-color: rgba(238, 238, 238, 0.7);
}

.add-to-comparison {
  display: none;

  margin-top: 5px;
  margin-bottom: auto;
  padding: 0;

  font-family: "Open Sans", "Arial", sans-serif;
  font-size: 13px;
  font-weight: 300;
  line-height: 36px;

  cursor: pointer;
  text-align: center;

  color: rgba(0, 0, 0, 0.5);
  border: 0;
  background-color: transparent;
}

.add-to-cart {
  display: none;

  margin-top: 170px;
}

.catalog-item-actions:hover .add-to-comparison,
.catalog-item-actions:focus .add-to-comparison,
.catalog-item-actions:hover .add-to-cart,
.catalog-item-actions:focus .add-to-cart {
  display: inline-block;

  vertical-align: middle;
}

.add-to-comparison:hover,
.add-to-comparison:focus {
  color: rgba(0, 0, 0, 1);
}

.add-to-comparison:active {
  color: rgba(0, 0, 0, 0.2);
}

.novelty-mark {
  position: absolute;
  top: 29px;
  right: 27px;

  width: 60px;
  height: 60px;
  margin: 0;
  padding-top: 20px;
  padding-left: 13px;

  font-family: "Gilroy", "Arial", sans-serif;
  font-size: 14px;
  font-weight: 800;
  letter-spacing: 0.05em;

  text-transform: uppercase;

  color: rgba(0, 0, 0, 0.2);
  border: 2px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
}

.pagination {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;

  width: 760px;
  min-height: 70px;
  margin: 0;
  margin-top: 37px;
  margin-bottom: 77px;
  margin-left: auto;
  padding: 0;

  list-style: none;

  background-color: rgba(0, 0, 0, 0.08);

  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.pages {
  display: flex;

  margin: 0;
  margin-right: auto;
  margin-left: auto;
  padding: 0;
  padding-right: 30px;
  padding-left: 68px;

  list-style: none;

  flex-wrap: wrap;
}

.page-number {
  margin-right: 27px;
}

.pagination-item a {
  font-family: "Gilroy", "Arial", sans-serif;
  font-size: 16px;
  font-weight: 800;
  letter-spacing: 0.2em;

  text-transform: uppercase;

  color: rgba(0, 0, 0, 0.3);
}

.pagination-item a:hover,
.pagination-item a:focus {
  color: rgba(0, 0, 0, 0.6);
}

.pagination-item a:active {
  color: rgba(0, 0, 0, 1);
}

.previous-page a,
.next-page a,
.pagination-item-current a {
  color: rgba(0, 0, 0, 1);
}

.previous-page a,
.next-page a {
  display: inline-block;

  min-height: 70px;
  padding-right: 30px;
  padding-left: 30px;

  line-height: 70px;

  vertical-align: middle;
}

.previous-page a:hover,
.previous-page a:focus,
.next-page a:hover,
.next-page a:focus {
  background-color: rgba(0, 0, 0, 0.08);
}

.previous-page a:active,
.next-page a:active {
  color: rgba(0, 0, 0, 0.3);
}

.visually-hidden {
  position: absolute;

  overflow: hidden;
  clip: rect(0 0 0 0);

  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;

  border: 0;
}
